.modal__edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__edit-container--radio > label {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 1px;
        display: inline-block;
}

.modal__edit-container--radio.hidden {
    display: none;
}