.summary__value {
    font-size: 2.2rem;
    margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
    color: var(--value-in);
}

.summary__value--out {
    color: var(--value-out);
}