.expenses {
    background-color: var(--gray-dark);
    display: inline-block;
    padding: 4rem 2rem 2rem;
    border-radius: 10px;
    width: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expenses--monthly {
    width: 80%;
}

.expenses--cc {
    width: 60%;
}

.expenses:last-child {
    margin-bottom: 5rem;
}

.expenses--search {
    width: 100%;
}