.calc__btn {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 15px 0;
    width: 60%;
    border-radius: 8px;
    border: none;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    color: darkgreen;
    cursor: pointer;
    background-color: #fff;
    transition: all .3s ease;
}

.calc__btn:hover,
.calc__btn:active {
    background-color: #f2f2f2;
}

.calc__btn:focus {
    outline-color: darkgreen;
}

@media screen and (min-width: 840px) {
    .calc__btn {
        width: 40%;
    }
}


@media screen and (min-width: 980px) {
    .calc__btn {
        width: 30%;
    }
}