.modal__description {
    font-size: 2.3754rem;
    line-height: 1.5;
    height: 200px;
    overflow: auto;
    background-color: var(--gray-dark);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    letter-spacing: 1px;
    white-space: pre-wrap;
    width: 100%;
    box-sizing: border-box;
    filter: blur(0);
}