.table__body {
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
}

.table__body td {
    padding: 10px 5px;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
    letter-spacing: 3px;
    box-sizing: border-box;
}

.table__body tr:nth-child(odd) {
    background-color: rgba(255, 255 ,255, .1);
}

.table__body tr:nth-child(even) {
    background-color: rgba(255, 255 ,255, .2);
}


.table__body td:not(:last-child) {
    border-right: 1px solid #fff;
}

@media screen and (min-width: 640px) {
    .table__body {
        font-size: 1.8rem;
    }
}