:root {
    --blue-light: #ACC8E5;
    --blue-light-2: #85B7E9;
    --blue-dark: #112A46;
    --red-light: #E6ACAC;
    --green-light: #68E991;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    background-color: var(--blue-light);
    color: var(--blue-dark);
}

.hidden {
    display: none;
}

@media screen and (max-width: 998px) {
    html {
        font-size: 56.25%;
    }
}