.header__heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-size: 3rem;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, rgb(65, 212, 218),rgb(199, 88, 250));
}