.movements__type {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white);
    padding: 0.4rem 1rem;
    border-radius: 10rem;
    margin-right: 2rem;
}

.movements__type--deposit {
    background-image: var(--deposit);
}

.movements__type--withdrawal {
    background-image: var(--withdrawal);
}