.form  {
    display: flex;
    background-color: var(--green-dark);
    width: 50%;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
}

.form--register.hidden,
.form--remove.hidden {
    display: none;
}

@media screen and (max-width: 998px) {
    .form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }
}

.form--remove .form__input {
    background-color: var(--red-light-2);
    color: var(--red-light);
}

.form--remove .form__input::placeholder {
    color: var(--red-light);
}

.form--remove .form__input:focus {
    outline-color: var(--red-light);
}

.form--remove .form__btn {
    background-color: var(--red-light);
    color: var(--red-light-2);
}

.form--remove .form__btn:focus,
.form--remove .form__btn:hover {
    background-color: var(--red-light-2);
    color: var(--red-light);
    outline-color: var(--red-light);
}