.form__btn {
    border: none;
    border-radius: 0.7rem;
    font-size: 1.8rem;
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.3s;
    padding: 0.3rem 1rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__btn:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}