.card__list-btn {
    background-color: transparent;
    border: none;
    color: var(--gray-dark);
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
    transition: all .3s ease;
}

.card__list-btn:hover,
.card__list-btn:active {
    color: var(--gray-light);  
}