.form__tasks-btn {
    background-color: var(--red);
    padding: 20px 0;
    width: 70%;
    letter-spacing: 1px;
    color: var(--gray-light);
    border-radius: 8px;
    font-size: 2.5rem;
    color: var(--gray-light);
    transition: .3s all ease;
}

.form__btn.form__tasks-btn:hover,
.form__btn.form__tasks-btn:active {
    background-color: var(--red-3);
    color: var(--gray-light);
}