.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--calc {
    margin-bottom: 3rem;
}

.container--table {
    max-height: 186px;
    overflow-y: scroll;
    display: block;
}

.container--table.hidden {
    display: none;
}

.container--table::-webkit-scrollbar {
    display: none;
}