.modal__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    padding: .5rem 1rem;
    background-color: rgb(77, 188, 192);
    color: #fff;
    cursor: pointer;
}

.modal__close:hover {
    background-color: rgb(71, 209, 214);
}