.form__btn {
    background-color: transparent;
    border: none;
    color: var(--gray-light);
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s all ease;
}

.form__btn:hover,
.form__btn:active {
    color: var(--green);
}

.form__btn--login {
    font-size: 3rem;
}

.form__btn:not(:last-child) {
    margin-bottom: 1rem;
}