.info__message-btn {
    background-color: var(--gray-dark-3);
    border: none;
    text-transform: uppercase;
    color: var(--gray-light);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s ease;
    letter-spacing: 1px;
}

.info__message-btn:hover {
    background-color: var(--gray-dark-2);
}