.form__input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    background-color: transparent;
    color: inherit;
    outline: none;
}

.form__input--wrapper {
    background-image: linear-gradient(90deg, rgba(65, 212, 218, .5),rgba(199, 88, 250, .5));
    border-radius: 8px;
}

.wrapper-focus {
    background-image: linear-gradient(90deg, rgba(65, 212, 218, .7),rgba(199, 88, 250, .7));
}