.btn {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    color: var(--gray-light);
    letter-spacing: 1px;
    font-size: 2rem;
    transition: all .3s ease;
    cursor: pointer;
}

.btn:focus,
.btn:hover,
.btn:active {
    outline: none;
    color: var(--green-light);
}

.btn--new-acc,
.btn--forgot {
    font-size: 1.6rem;
    margin-top: 1rem;
}


.btn--top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--gray-light-3);
    border: none;
    color: var(--gray-dark-3);
    padding: 2rem;
    font-size: 2rem;
    border-radius: 100px;
    cursor: pointer;
}

.btn--top:hover,
.btn--top:active {
    background-color: var(--gray-light-2);
}

#top-page.hidden {
    display: none;
}