.table__body td {
    padding: 5px 0;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-align: center;
}

.table__body tr:first-of-type {
    color: var(--green-light);
}

.table__body tr:nth-child(2) {
    color: var(--red-light);
}

.table__body tr:last-of-type {
    color: var(--blue-light);
}