.form__input {
    margin-right: 1rem;
    border-radius: 8px;
    border: 1.5px solid var(--gray-light);
    background-color: var(--gray-dark-3);
    outline: none;
    padding: 7px 10px;
    font-size: 1.8rem;
    color: var(--gray-light);
    letter-spacing: 1px;
    flex: 1;
}

.form__input:focus {
    border-color: var(--green-light);
}

.form__input::placeholder {
    color: var(--gray-light-2);
}

.form__input--id {
    flex: 0;
    width: 40px;
    text-align: center;
}